<div class="page-header">
<h1>Edit an existing picture</h1>
</div>

<form action="http://localhost:3000/update_picture/<%= @id %>">
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption" value="<%= @pic_caption %>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" value="<%= @pic_source %>">
  </div>
  <div>
    <input type="submit" value="Edit Picture">
  </div>
</form>