<div class="page-header">
	<h1>Picture Details</h1>
</div>

<img width="200px" src="<%= @pic_source %>">
<br></br>
<h3 class="text-muted" > <%= @pic_caption %> </h3>

<a href="http://localhost:3000/edit_picture_form/<%= @pic.id %>">Edit this picture</a>
<p></p>
<a href="http://localhost:3000/delete_picture/<%= @pic.id %>">Delete this picture</a>

